**/.DS_Store

# Byte-compiled / optimized / DLL files / cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# input data, saved log, checkpoints
data/
saved/

# report
report/*.bbl
report/*.aux
report/*.log
report/*.blg
